/////////////////////////////////////////////////////////////////////////////

//

// Icon

//



// Icon with lowest ID value placed first to ensure application icon

// remains consistent on all systems.

IDI_APPLICATION     ICON          "rr2012.ico"
IDR_MAINFRAME       ICON    DISCARDABLE     "rr2012.ico"
IDR_DEVICETYPE      ICON    DISCARDABLE     "rr2012.ico"
